.container-fluid__contenedorHeader--color {
  background: #1b1a17; }

.contenedorHeader {
  background: #1b1a17; }

/*
.seccionTitulo{
    background-image: url('../img/foto-parallax2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    //transform: scale(1.2);
}
*/
.parallax__container {
  clip: rect(0, auto, auto, 0);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -100; }

.parallax {
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.seccionHistoria {
  background: #a35709; }

.seccionPremios {
  background: #f0e3ca; }

.contenedorContenido {
  background-color: #8ef7a8; }

.contenedorContenido__contenedorHistoria__titulo--color {
  color: #ff8303; }

.contenedorContenido__contenedorHistoria__subTitulo--color {
  color: #ff8303; }

.contenedorContenido__contenedorHistoria__parrafoPrincipal--color {
  color: #020202; }

.contenedorContenido__contenedorHistoria__subContenido--color {
  color: rgba(0, 0, 0, 0.815); }

p .palabrasOblicuas {
  text-decoration: none;
  cursor: text;
  font-style: oblique;
  color: #ff8303; }

#navbarNav ul li a {
  color: white; }
  #navbarNav ul li a:hover {
    color: #ff8303; }

#navbarNav ul li .listaNavBar__local--color {
  color: #ff8303;
  cursor: default; }
  #navbarNav ul li .listaNavBar__local--color:hover {
    text-decoration: none; }

.container-fluid__contenedorAnteriorFooter--color {
  background-color: #1b1a17;
  background: linear-gradient(to bottom, #f0e3ca, #1b1a17); }

.seccionAnteriorFooter {
  background-color: #1b1a17;
  background: linear-gradient(to bottom, #f0e3ca, #1b1a17); }

.container-fluid__contenedorFooter {
  background-color: #1b1a17; }

.contenedorFooter {
  background: #1b1a17; }

.pFooter {
  color: white; }

.pCardNosotros {
  color: #020202; }

.contenedorContacto a {
  color: white;
  transition: color 0.3s; }

.contenedorContacto a:hover {
  text-decoration: none;
  color: #ff6207; }

@font-face {
  font-family: 'DevilBreezeBold';
  src: url("../fonts/Devil Breeze Bold.ttf"); }

@font-face {
  font-family: 'DevilBreezeBook';
  src: url("../fonts/Devil Breeze Book.ttf"); }

@font-face {
  font-family: 'DevilBreezeDemi';
  src: url("../fonts/Devil Breeze Demi.ttf"); }

@font-face {
  font-family: 'DevilBreezeLight';
  src: url("../fonts/Devil Breeze Light.ttf"); }

@font-face {
  font-family: 'DevilBreezeMedium';
  src: url("../fonts/Devil Breeze Medium.ttf"); }

.contenedorContenido__contenedorHistoria__titulo--font {
  font-size: 100px;
  font-family: 'DevilBreezeBold'; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .contenedorContenido__contenedorHistoria__titulo--font {
      font-size: 50px; } }
  @media only screen and (min-width: 767px) and (max-width: 1025px) {
    .contenedorContenido__contenedorHistoria__titulo--font {
      font-size: 70px; } }

.contenedorContenido__contenedorHistoria__subTitulo--font {
  font-size: 25px;
  font-family: 'DevilBreezeDemi';
  text-align: center; }

.contenedorContenido__contenedorHistoria__parrafoPrincipal--font {
  font-size: 20px;
  font-family: 'Lato', sans-serif, '300';
  text-align: justify; }

.contenedorContenido__contenedorHistoria__subContenido--font {
  font-size: 20px;
  font-family: 'Lato', sans-serif, '300';
  font-style: oblique; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .contenedorContenido__contenedorMultimedia__fondoIndex--tamanio {
    height: 100px;
    width: 150px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contenedorContenido__contenedorMultimedia__fondoIndex--tamanio {
    height: 200px;
    width: 250px; } }

@media only screen and (min-width: 1025px) {
  .contenedorContenido__contenedorMultimedia__fondoIndex--tamanio {
    height: 350px;
    width: 700px; } }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .contenedorContenido__contenedorMultimedia__videoIndex--tamanio {
    height: 100px;
    width: 150px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contenedorContenido__contenedorMultimedia__videoIndex--tamanio {
    height: 200px;
    width: 250px; } }

@media only screen and (min-width: 1025px) {
  .contenedorContenido__contenedorMultimedia__videoIndex--tamanio {
    height: 350px;
    width: 700px; } }

.containerHeader__contenedorLogo__logo--tamanio {
  width: 130px; }

.contenedorNav__listaNavBar--font li a {
  font-family: 'DevilBreezeMedium';
  font-size: 20px; }

.pFooter {
  font-family: 'DevilBreezeMedium';
  font-size: 20px; }

.pCardNosotros {
  font-family: 'Lato', sans-serif , '300';
  font-size: 30px; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .pCardNosotros {
      font-size: 25px; } }

.row div .textoFechaP {
  font-family: 'DevilBreezeMedium'; }

/*
.contenedorNav li a{
    font-size: $sizeNavBar;
}

.contenedorFooter a{
    font-size: $sizeFooter;
}*/
* {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }

.contenedorContenido__contenedorMultimedia--flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .container-fluid__contenedorHeader--flex {
    display: flex;
    flex: row;
    justify-content: space-around;
    align-items: center; } }

@media screen and (min-width: 1025px) {
  .container-fluid__contenedorHeader--flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: max-content; } }

.container-fluid__containerHeader__contenedorLogo--flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    .container-fluid__containerHeader__contenedorLogo--flex {
      justify-content: center; } }
  @media screen and (min-width: 767px) and (max-width: 1025px) {
    .container-fluid__containerHeader__contenedorLogo--flex {
      justify-content: center; } }

.contenedorHeader__contenedorNav--flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .contenedorHeader__contenedorNav--flex {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .contenedorHeader__contenedorNav--flex li a {
    font-size: 25px;
    display: flex;
    flex: row;
    justify-content: center; } }

@media screen and (min-width: 767px) and (max-width: 1025px) {
  .contenedorHeader__contenedorNav--flex {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .contenedorHeader__contenedorNav--flex li a {
    font-size: 25px;
    display: flex;
    flex: row;
    justify-content: center; } }

.contenedorNav__listaNavBar--flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    .contenedorNav__listaNavBar--flex .contenedorNav__listaNavBar--flex li a {
      font-size: 20px;
      display: flex;
      flex: row;
      justify-content: center; } }

.contenedorRedesResponsive {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .container-fluid__contenedorFooter .contenedorRedes {
    display: flex;
    flex-direction: row;
    justify-content: center; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-fluid__contenedorFooter .contenedorRedes {
    display: flex;
    flex-direction: row;
    justify-content: center; } }

@media screen and (min-width: 1025px) {
  .container-fluid__contenedorFooter .contenedorRedes {
    display: flex;
    flex-direction: row;
    justify-content: center; } }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .container-fluid__contenedorFooter .contenedorRedesIconos {
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-fluid__contenedorFooter .contenedorRedesIconos {
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }

@media screen and (min-width: 1025px) {
  .container-fluid__contenedorFooter .contenedorRedesIconos {
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .container-fluid__contenedorFooter .contenedorDerechos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-fluid__contenedorFooter .contenedorDerechos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; } }

@media screen and (min-width: 1025px) {
  .container-fluid__contenedorFooter .contenedorDerechos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; } }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .container-fluid__contenedorFooter .contenedorContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-fluid__contenedorFooter .contenedorContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }

@media screen and (min-width: 1025px) {
  .container-fluid__contenedorFooter .contenedorContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around; } }

.contenedorContenido .contenedorForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

/*
.formContacto{
    display: $flex;
    flex-direction: $row;
    justify-content: center;
    border: #000000 1px solid;
    padding: 10px;
}
*/
.contenedorTabla {
  border: 3px solid;
  background-color: #a10505;
  width: auto;
  margin: auto; }

.contenedorTabla th {
  background-color: #cccccc;
  border: 1px solid;
  text-align: center; }

.contenedorTabla tr, .contenedorTabla td {
  border: 1px solid;
  background-color: #f16932; }

.contenedorGaleria__fila1 {
  display: flex;
  flex-direction: row;
  align-items: center; }

.contenedorGaleria__fila2 {
  display: flex;
  flex-direction: row;
  align-items: center; }

.contenedorGaleria__col1 {
  width: 100%;
  height: 100%;
  margin-bottom: 30px; }

.contenedorGaleria__col2 {
  width: 100%;
  height: 100%;
  margin-bottom: 30px; }

.contenedorGaleria__col3 {
  width: 100%;
  height: 100%;
  margin-bottom: 30px; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .contenedorTabla {
    border: 3px solid;
    background-color: #a10505;
    width: auto;
    margin: auto;
    font-size: 10px; } }

.contenedorTabla th {
  font-size: 15px;
  text-align: center; }

.imagenInicioBanda {
  position: relative;
  top: -60px;
  z-index: 1; }

.logoFooter--responsive {
  display: flex;
  display: row;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px; }

.contenedorNosotros {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative; }

.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
  color: #ff8303;
  background: #ff8303;
  background: -moz-linear-gradient(left, #ff8303 0%, #1B1A17 100%) !important;
  background: -webkit-linear-gradient(left, #ff8303 0%, #1B1A17 100%) !important;
  background: linear-gradient(to right, #ff8303 0%, #1B1A17 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important; }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    .get-in-touch .title {
      font-size: 2em; } }

.contact-form .form-field {
  position: relative;
  margin: 32px 0; }

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 75px;
  left: 30px;
  padding-left: 5px;
  border-width: 0 0 2px 0;
  border-color: #ff8303;
  font-size: 18px;
  font-family: 'Lato', sans-serif, '300';
  line-height: 26px;
  font-weight: 400; }

.contact-form .input-text:focus {
  outline: none; }

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px); }

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 40px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #ff8303;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,  -webkit-transform .2s ease-in-out; }

.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  background-image: linear-gradient(125deg, #ff8303, #1b1a17);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer; }

.contenedorGaleria__fila2 .galeria-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  margin: 0; }

.contenedorGaleria__fila1 .galeria-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  margin: 0; }

.contenedorGaleria__fila1 .galeria-wrap::after {
  box-sizing: border-box; }

.contenedorGaleria__fila2 .galeria-wrap::after {
  box-sizing: border-box; }

.contenedorHeader {
  position: sticky;
  top: 0px;
  z-index: 3; }

.contenedorContenido__contenedorHistoria__titulo--boxM {
  padding: 20px;
  text-align: center; }

.contenedorContenido__contenedorHistoria__subTitulo--boxM {
  padding-left: 30px; }

.contenedorContenido__contenedorHistoria__parrafoPrincipal--boxM {
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  border-top: 1px solid; }

.contenedorContenido__contenedorHistoria__subContenido--boxM {
  padding-left: 25px;
  padding-bottom: 10px; }

.contenedorContenido__contenedorMultimedia__fondoIndex--boxM {
  border: 1px solid; }

.contenedorNav__listaNavBar--boxM li a {
  text-decoration: none;
  padding: 20px;
  transition: color 0.3s;
  cursor: pointer; }

.container-fluid__contenedorAnteriorFooter--boxM {
  padding: 20px; }

.container-fluid__contenedorFooter {
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0px; }

.formContacto .textFocus {
  width: 150px;
  height: 20px;
  transition: all 1s; }

.formContacto .textFocus:focus {
  width: 170px;
  font-size: 18px; }

.listaDisco {
  padding: 30px; }

.seccionTitulo {
  padding-top: 16.5%;
  padding-bottom: 16.5%; }

.paddingSeccion {
  padding-top: 15px;
  padding-bottom: 15px; }

.paddingFooter {
  padding-top: 50px;
  padding-bottom: 50px; }

.paddingContentFooter {
  padding-top: 50px;
  padding-bottom: 50px; }

.borderDerecho {
  border-right: 3px white;
  border-right-style: groove; }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    .borderDerecho {
      border-bottom: 3px groove white;
      border-right: none; } }
  @media screen and (min-width: 767px) and (max-width: 1025px) {
    .borderDerecho {
      border-bottom: 3px groove white;
      border-right: none; } }

.borderBottom {
  border-bottom: 1px solid white; }
