$centrado: center;
$paddingTitulo: 20px;
$paddingL_SubTitulo: 30px;
$paddingT_SubTitulo: 25px;
$paddingL_ParrafoPrincipal: 25px;
$paddingT_ParrafoPrincipal: 10px;
$paddingB_ParrafoPrincipal: 10px;

$navSticky: sticky;

.contenedorHeader{
    position: $navSticky;
    top: 0px;
    z-index: 3;
}

.contenedorContenido__contenedorHistoria__titulo--boxM{
    padding: $paddingTitulo;
    text-align: $centrado;
}

.contenedorContenido__contenedorHistoria__subTitulo--boxM{
    padding-left: $paddingL_SubTitulo;
}

.contenedorContenido__contenedorHistoria__parrafoPrincipal--boxM{
    padding-left: $paddingL_ParrafoPrincipal;
    padding-top: $paddingT_ParrafoPrincipal;
    padding-bottom: $paddingB_ParrafoPrincipal;
    padding-right: 25px;
    border-top: 1px solid;
}

.contenedorContenido__contenedorHistoria__subContenido--boxM{
    padding-left: $paddingL_ParrafoPrincipal;
    padding-bottom: $paddingB_ParrafoPrincipal;
}

.contenedorContenido__contenedorMultimedia__fondoIndex--boxM{
    border-radius: 3px;
}

.contenedorNav__listaNavBar--boxM li a{
    text-decoration: none;
    padding: 20px;
    transition: color 0.3s;
    cursor: pointer;
}

.container-fluid__contenedorAnteriorFooter--boxM{
    padding: 20px;
}

.container-fluid__contenedorFooter{
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0px;
}

.formContacto .textFocus{
    width: 150px;
    height: 20px;
    transition: all 1s;
}

.formContacto .textFocus:focus{
    width: 170px;
    font-size: 18px;
}

.listaDisco{
    padding: 30px;
}

.seccionTitulo{
    padding-top: 16.5%;
    padding-bottom: 16.5%;
    @media screen and (min-width: 0px) and (max-width: 767px){
        padding-top: 0%;
        padding-bottom: 0%;
    }
}

.paddingSeccion{
    padding-top: 15px;
    padding-bottom: 15px;
}

.paddingSeccionDisco{
    padding-top: 30px;
    padding-bottom: 30px;
    @media screen and (min-width: 0px) and (max-width: 767px){
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.paddingFooter{
    padding-top: 50px;
    padding-bottom: 50px;
}

.paddingContentFooter{
    padding-top: 50px;
    padding-bottom: 50px;
}

.borderDerecho{
    border-right: 3px white;
    border-right-style:groove;
    @media screen and (min-width: 0px) and (max-width: 767px){
        border-bottom: 3px groove white;
        border-right: none;
    }
    @media screen and (min-width: 767px) and (max-width: 1025px){
        border-bottom: 3px groove white;
        border-right: none;
    }
    @media screen and (min-width: 1023px) and (max-width: 1366px){
        border-bottom: none;
    }
}

.borderBottom{
    border-bottom: 1px solid white;
}

.bordePortada{
    border-radius: 6px;
}

.spotify-I{
    width: 350px;
    height: 350px;
    border-radius: 6px;
    @media screen and (min-width: 0px) and (max-width: 767px){
        width: 330px;
        height: 330px;
    }
    @media screen and (min-width: 767px) and (max-width: 1025px){
        width: 210px;
        height: 210px;
    }
}