$colorTitulos:rgb(255, 131, 3);
$colorNav:rgb(27, 26, 23);
$colorFondo: rgb(142, 247, 168);
$colorSubTextos: rgba(0, 0, 0, 0.815);
$colorTextos:rgb(2, 2, 2);

.container-fluid__contenedorHeader--color{
    background: $colorNav;
}

.contenedorHeader{
    background: $colorNav;
}
/*
.seccionTitulo{
    background-image: url('../img/foto-parallax2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    //transform: scale(1.2);
}
*/
.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -100;
}

.parallax {
	position: fixed;
	top: 0;
	transform: translate3d(0, 0, 0);
	transform-style: preserve-3d;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.seccionHistoria{
    background: rgb(163, 87, 9);
    overflow-x: hidden;
}

.seccionPremios{
    background: rgb(240, 227, 202);
    overflow-x: hidden;
}

.contenedorContenido{
    background-color: $colorFondo;
}

.contenedorContenido__contenedorHistoria__titulo--color{
    color: $colorTitulos;
}

.contenedorContenido__contenedorHistoria__subTitulo--color{
    color: $colorTitulos;
}

.contenedorContenido__contenedorHistoria__parrafoPrincipal--color{
    color: $colorTextos;
}

.contenedorContenido__contenedorHistoria__subContenido--color{
    color: $colorSubTextos;
}

p .palabrasOblicuas{
    text-decoration: none;
    cursor: text;
    font-style: oblique;
    color: $colorTitulos;
}

#navbarNav ul li a{
    color: rgb(255, 255, 255);
    &:hover{
        color: $colorTitulos;
    }
}

#navbarNav ul li .listaNavBar__local--color{
    color:$colorTitulos;
    cursor: default;
    &:hover{
        text-decoration: none;
    }
}

.container-fluid__contenedorAnteriorFooter--color{
    background-color:rgb(27, 26, 23);
    background: linear-gradient(to bottom, rgb(240, 227, 202), rgb(27, 26, 23));
}

.seccionAnteriorFooter{
    background-color:rgb(27, 26, 23);
    background: linear-gradient(to bottom, rgb(240, 227, 202), rgb(27, 26, 23));
}

.container-fluid__contenedorFooter{
    background-color:rgb(27, 26, 23);
}

.contenedorFooter{
    background: rgb(27, 26, 23);
}

.pFooter{
    color: rgb(255, 255, 255);
}

.pCardNosotros{
    color: rgb(2, 2, 2);
}

.contenedorContacto a{
    color: rgb(255, 255, 255);
    transition: color 0.3s;
}

.contenedorContacto a:hover{
    text-decoration: none;
    color: rgb(255, 98, 7);
}

