$colorTitulos:rgb(255, 81, 0);
$colorNav:rgb(0, 0, 0);
$colorFondo: rgb(142, 247, 168);
$colorSubTextos: rgba(0, 0, 0, 0.815);
$colorTextos:rgb(2, 2, 2);

.container-fluid__contenedorHeader--color{
    background-color: $colorNav;
}

.contenedorContenido{
    background-color: $colorFondo;
}

.contenedorContenido__contenedorHistoria__titulo--color{
    color: $colorTitulos;
}

.contenedorContenido__contenedorHistoria__subTitulo--color{
    color: $colorTitulos;
}

.contenedorContenido__contenedorHistoria__parrafoPrincipal--color{
    color: $colorTextos;
}

.contenedorContenido__contenedorHistoria__subContenido--color{
    color: $colorSubTextos;
}

p .palabrasOblicuas{
    text-decoration: none;
    cursor: text;
    font-style: oblique;
}

.contenedorNav__listaNavBar--color li a{
    color: rgba(255, 255, 255, 0.89);
    &:hover{
        color: rgb(255, 98, 7);
    }
}

.contenedorNav__listaNavBar--color{
    @media screen and (min-width: 0px) and (max-width: 767px){
        
    }
}

a .listaNavBar__local--color{
    color:rgb(255, 98, 7);
    cursor: default;
    &:hover{
        text-decoration: none;
    }
}

.container-fluid__contenedorAnteriorFooter--color{
    background-color:#000000;
    background: linear-gradient(to bottom, rgb(142, 247, 168), #000000);
}

.container-fluid__contenedorFooter{
    background-color:#000000;
}

.container-fluid__contenedorFooter .pFooter{
    color: rgb(255, 255, 255);
}

.contenedorContacto a{
    color: rgb(255, 255, 255);
    transition: color 0.3s;
}

.contenedorContacto a:hover{
    text-decoration: none;
    color: rgb(255, 98, 7);
}