$sizeTitulos:100px;
$sizeSubtitulos:25px;
$sizeTextos:20px;
$sizeNavBar:25px;
$sizeFooter:20px;

$anchoFondoIndexDesktop:700px;
$altoFondoIndexDesktop:350px;

$anchoFondoIndexMobile:150px;
$altoFondoIndexMobile:100px;

$anchoFondoIndexTablet:250px;
$altoFondoIndexTablet:200px;

$anchoLogo: 130px;

@font-face{
    font-family: 'DevilBreezeBold';
    src: url('../fonts/Devil\ Breeze\ Bold.ttf');
}

@font-face{
    font-family: 'DevilBreezeBook';
    src: url('../fonts/Devil\ Breeze\ Book.ttf');
}

@font-face{
    font-family: 'DevilBreezeDemi';
    src: url('../fonts/Devil\ Breeze\ Demi.ttf');
}

@font-face{
    font-family: 'DevilBreezeLight';
    src: url('../fonts/Devil\ Breeze\ Light.ttf');
}

@font-face{
    font-family: 'DevilBreezeMedium';
    src: url('../fonts/Devil\ Breeze\ Medium.ttf');
}

.contenedorContenido__contenedorHistoria__titulo--font{
    font-size: $sizeTitulos;
    font-family: 'DevilBreezeBold';
    @media only screen and (min-width: 0px) and (max-width: 767px){
        font-size: 50px;
    }
}

.contenedorContenido__contenedorHistoria__subTitulo--font{
    font-size: $sizeSubtitulos;
    font-family: 'DevilBreezeDemi';
    text-align: center;
}

.contenedorContenido__contenedorHistoria__parrafoPrincipal--font{
    font-size: $sizeTextos;
    font-family: 'Lato', sans-serif, '300';
    text-align: justify;
}

.contenedorContenido__contenedorHistoria__subContenido--font{
    font-size: $sizeTextos;
    font-family: 'Lato', sans-serif, '300';
    font-style: oblique;
}

.contenedorContenido__contenedorMultimedia__fondoIndex--tamanio{
    @media only screen and (min-width: 0px) and (max-width: 767px){
        height: $altoFondoIndexMobile;
        width: $anchoFondoIndexMobile;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px){
        height: $altoFondoIndexTablet;
        width: $anchoFondoIndexTablet;
    }

    @media only screen and (min-width: 1025px){
        height: $altoFondoIndexDesktop;
        width: $anchoFondoIndexDesktop;
    }

}
.contenedorContenido__contenedorMultimedia__videoIndex--tamanio{
    @media only screen and (min-width: 0px) and (max-width: 767px){
        height: $altoFondoIndexMobile;
        width: $anchoFondoIndexMobile;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px){
        height: $altoFondoIndexTablet;
        width: $anchoFondoIndexTablet;
    }

    @media only screen and (min-width: 1025px){
        height: $altoFondoIndexDesktop;
        width: $anchoFondoIndexDesktop;
    }
}

.containerHeader__contenedorLogo__logo--tamanio{
    width: $anchoLogo;
}

.contenedorNav__listaNavBar--font li a{
    font-family: 'Lato', sans-serif, '100';
    font-size: 25px;
}

.pFooter{
    font-family: 'DevilBreezeMedium';
    font-size: $sizeFooter;
}

/*
.contenedorNav li a{
    font-size: $sizeNavBar;
}

.contenedorFooter a{
    font-size: $sizeFooter;
}*/