<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- link google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" href="../img/logo.png">

    <link rel="stylesheet" href="../css/estilo.css">
    <title>Discografia</title>
</head>

<body>
    <header class="contenedorHeader ">
        <div class="container">
            <div class="row container-fluid__contenedorHeader--boxM container-fluid__contenedorHeader--color ">
                <div class="col-lg-4 col-xs-6 container-fluid__containerHeader__contenedorLogo--flex">
                    <img src="../img/logo.png" alt="" class="containerHeader__contenedorLogo__logo--tamanio">
                </div>
                <div class="col-lg-8 col-xs-6 contenedorHeader__contenedorNav--flex">
                    <!-- <nav class="contenedorNav">
                      <ul class="listaNav">
                          <li><a class="local">Home</a></li>
                          <li><a href="views/discografia.html">Galeria </a></li>
                          <li><a href="views/discografia.html">Discografía </a></li>
                          <li><a href="views/nosotros.html">Nosotros </a></li>
                          <li><a href="views/contacto.html">Contacto </a></li>
                      </ul>
                  </nav> -->
                    <nav
                        class="navbar navbar-expand-lg navbar-dark contenedorNav__listaNavBar--flex contenedorNav__listaNavBar--color contenedorNav__listaNavBar--font contenedorNav__listaNavBar--boxM">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="../index.html">Home <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="../views/galeria.html">Galeria</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link listaNavBar__local--color" href="">Discografia</a>
                                </li>
                                <li class="nav-item">
                                    <a href="../views/nosotros.html" class="nav-link">Nosotros</a>
                                </li>
                                <li class="nav-item">
                                    <a href="../views/contacto.html" class="nav-link">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- <header class="row">
              <img src="img/logo.png" alt="" class="logo">
              <nav>
                  <ul class="listaNav">
                      <li><a class="local">Home</a></li>
                      <li><a href="views/galeria.html">Galeria </a></li>
                      <li><a href="views/discografia.html">Discografía </a></li>
                      <li><a href="views/nosotros.html">Nosotros </a></li>
                      <li><a href="views/contacto.html">Contacto </a></li>
                  </ul>
              </nav>
          </header> -->

        </div>
    </header>
    <!-- fin header -->
    <section class="seccionPremios paddingSeccion">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 col-xs-12">
                    <h1
                        class="contenedorContenido__contenedorHistoria__titulo--font contenedorContenido__contenedorHistoria__titulo--boxM contenedorContenido__contenedorHistoria__titulo--color">
                        Discografia</h1>
                    <article>
                        <!-- inicio tabla -->
                        <table cellpadding="10" cellspacing="8" class="contenedorTabla">
                            <tr>
                                <th>Nombre Disco</th>
                                <th>Fecha Publicación</th>
                                <th>Canciones</th>
                            </tr>
                            <tr>
                                <td class="listaDisco">Night Visions</td>
                                <td class="listaDisco">4 de septiembre de 2012 (US)</td>
                                <td>
                                    <ol class="listaDisco">
                                        <li>Radioactive | Duración: 3:06</li>
                                        <li>Tiptoe | Duración: 3:14</li>
                                        <li>It's Time | Duración 4:00</li>
                                        <li>Demons | 2:57</li>
                                        <li>On Top of the World | Duración: 3:12</li>
                                        <li>Amtserdam | Duración: 4:01</li>
                                        <li>Hear Me | Duración: 3:55</li>
                                        <li>Every Night | Duración: 3:37</li>
                                        <li>Bleeding Out | Duración: 3:43</li>
                                        <li>Underdog | Duración: 3:29</li>
                                        <li>Nothing Left to Say | Duración: 8:59 (La canción termina a las 6:33, la
                                            pista oculta
                                            "Rocks" inicia a los 6:48)</li>
                                    </ol>
                                </td>
                            </tr>
                            <tr>
                                <td class="listaDisco">Smoke + Mirrors</td>
                                <td class="listaDisco">17 de febrero de 2015 (US)</td>
                                <td>
                                    <ol class="listaDisco">
                                        <li>Shots | Duración: 3:52</li>
                                        <li>Gold | Duración: 3:36</li>
                                        <li>Smoke and Mirrors | Duración: 4:20</li>
                                        <li>I'm So Sorry | Duración: 3:50</li>
                                        <li>I Bet My Life | Duración: 3:14</li>
                                        <li>Polaroid | Duración: 3:51</li>
                                        <li>Friction | Duración: 3:21</li>
                                        <li>It comes Back to You | Duración: 3:37</li>
                                        <li>Dream | Duración: 4:18</li>
                                        <li>Trouble | Duración: 3:12</li>
                                        <li>Summer | Duración: 3:38</li>
                                        <li>Hopeless Opus | 4:01</li>
                                        <li>The Fall | Duración: 6:05</li>
                                    </ol>
                                </td>
                            </tr>
                        </table>
                        <!-- fin tabla -->
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="seccionAnteriorFooter">
        <div class="container">
            <div
                class="row container-fluid__contenedorAnteriorFooter--boxM container-fluid__contenedorAnteriorFooter--color">
                <div class="col-lg-12 col-xs-12"></div>
            </div>
        </div>
    </section>

    <!-- inicio footer -->

   <footer class="contenedorFooter paddingFooter">
        <div class="container">
            <div class="row container-fluid__contenedorFooter">
                <div class="col-lg-4 col-xs-4 contenedorRedesResponsive paddingContentFooter borderDerecho">
                    <span class="pFooter contenedorRedes">Redes Sociales</span>
                    <section class="contenedorRedesIconos">
                        <a href="https://www.youtube.com/channel/UCT9zcQNlyht7fRlcjmflRSA" target="_blank"><img
                                src="../img/icono-youtube.png" alt="Link a youtube"></a>
                        <a href="https://www.instagram.com/imaginedragons/" target="_blank"><img
                                src="../img/icono-instagram.png" alt="Link a instagram"></a>
                        <a href="https://twitter.com/Imaginedragons" target="_blank"><img src="../img/icono-twitter.png"
                                alt="Link a twitter"></a>
                    </section>
                </div>
                <div class="col-lg-4 col-xs-4 logoFooter--responsive paddingContentFooter borderDerecho">
                    <img src="../img/logo.png" class="containerHeader__contenedorLogo__logo--tamanio img-fluid" alt="Logo footer">
                </div>
                <div class="col-lg-4 col-xs-4 contenedorDerechos paddingContentFooter">
                    <p class="pFooter contenedorRedes">Developed by Gonzalo Noir© </p>
                </div>
            </div>
            <div class="col-lg-12 logoFooter--responsive contenedorContacto">
                <p class="pFooter"><a href="../views/contacto.html" class="pFooter">Contacto</a> | <a
                        href="../views/nosotros.html" class="pFooter">Nosotros</a></p>
            </div>
        </div>
    </footer>

    <!-- fin footer -->


    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>