<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Imagine Dragons, Rock, Pop, Fanpage, Banda, Musica">
    <meta name="description"
      content="Te explicamos a que nos dedicamos y cual nuestro objetivo con esta pagina web.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  
    <!-- link google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap" rel="stylesheet">
  
    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <!-- Libreria AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  
    <!-- Favicon -->
    <link rel="icon" href="../img/logo.png">
  
    <!-- Link Stylesheet Principal -->
    <link rel="stylesheet" href="../css/estilo.css">
    <title>¿Quienes Somos?</title>
</head>

<body>
    <header class="contenedorHeader">
        <div class="container">
            <div class="row container-fluid__contenedorHeader--boxM container-fluid__contenedorHeader--color ">
                <div class="col-lg-4 col-xs-6 container-fluid__containerHeader__contenedorLogo--flex">
                    <img src="../img/logo.png" alt="" class="containerHeader__contenedorLogo__logo--tamanio">
                </div>
                <div class="col-lg-8 col-xs-6 contenedorHeader__contenedorNav--flex">
                    <nav
                        class="navbar navbar-expand-lg navbar-dark contenedorNav__listaNavBar--flex contenedorNav__listaNavBar--color contenedorNav__listaNavBar--font contenedorNav__listaNavBar--boxM">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="../index.html">Home <span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../views/galeria.html">Galeria</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../views/discografia.html">Discografia</a>
                                </li>
                                <li class="nav-item active">
                                    <a href="" class="nav-link listaNavBar__local--color">Nosotros</a>
                                </li>
                                <li class="nav-item">
                                    <a href="../views/contacto.html" class="nav-link">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- fin header -->

    <section class="seccionPremios paddingSeccion">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 col-xs-12">
                    <h1
                        class="contenedorContenido__contenedorHistoria__titulo--font contenedorContenido__contenedorHistoria__titulo--boxM contenedorContenido__contenedorHistoria__titulo--color">
                        Nosotros </h1>
                </div>
                <div class="col-lg-12 col-xs-12 ">
                    <div class="card">
                        <img src="../img/fotoNosotros.png" class="card-img-top" alt="Nosotros">
                        <div class="card-body">
                            <p class="card-text pCardNosotros ">Somos una pagina pura y exclusivamente para que el mundo pueda apreciar a una de las bandas mas contundentes a nivel mundial en los ultimos años. <br> Nuestro <a class="palabrasOblicuas">objetivo</a> es que puedas disfrutar y poder recorrer descubriendo todo sobre su historia como su musica. <br> Si de alguna manera, nuestra pagina te gusto o te hizo sentir algun tipo de sensacion, nos los puedes comentar desde el apartado en la seccion <a class="palabrasOblicuas">"CONTACTO"</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="seccionAnteriorFooter">
        <div class="container">
            <div
                class="row container-fluid__contenedorAnteriorFooter--boxM container-fluid__contenedorAnteriorFooter--color">
                <div class="col-lg-12 col-xs-12"></div>
            </div>
        </div>
    </section>

    <!-- inicio footer -->

    <footer class="contenedorFooter paddingFooter">
        <div class="container">
            <div class="row container-fluid__contenedorFooter">
                <div class="col-lg-4 col-xs-4 contenedorRedesResponsive paddingContentFooter borderDerecho">
                    <span class="pFooter contenedorRedes">Redes Sociales</span>
                    <section class="contenedorRedesIconos">
                        <a href="https://www.youtube.com/channel/UCT9zcQNlyht7fRlcjmflRSA" target="_blank"><img
                                src="../img/icono-youtube.png" alt="Link a youtube"></a>
                        <a href="https://www.instagram.com/imaginedragons/" target="_blank"><img
                                src="../img/icono-instagram.png" alt="Link a instagram"></a>
                        <a href="https://twitter.com/Imaginedragons" target="_blank"><img src="../img/icono-twitter.png"
                                alt="Link a twitter"></a>
                    </section>
                </div>
                <div class="col-lg-4 col-xs-4 logoFooter--responsive paddingContentFooter borderDerecho">
                    <img src="../img/logo.png" class="containerHeader__contenedorLogo__logo--tamanio img-fluid"
                        alt="Logo footer">
                </div>
                <div class="col-lg-4 col-xs-4 contenedorDerechos paddingContentFooter">
                    <p class="pFooter contenedorRedes">Developed by Gonzalo Noir© </p>
                </div>
            </div>
            <div class="col-lg-12 logoFooter--responsive contenedorContacto">
                <p class="pFooter"><a href="../views/contacto.html" class="pFooter">Contacto</a> | <a
                        href="../views/nosotros.html" class="pFooter">Nosotros</a></p>
            </div>
        </div>
    </footer>

    <!-- fin footer -->


    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>